/moddle/nbproject/private/
/moddle/build/
/moddle/dist/
/moddle/tmp/
/moddle/data/versions/
/moddle/data/auth.json
/moddle/data/lastlogin.json
/moddle/stderr.txt
/moddle/stdout.txt
/moddle/users/
/moddle/news.zip
/moddle/logs/
/moddle/cache/*/