/moddle/nbproject/private/
/moddle/build/
/moddle/dist/
/moddle/store/
/moddle/data/versions/
/moddle/data/auth.json
/moddle/data/lastlogin.json
/moddle/stderr.txt
/moddle/stdout.txt
/moddle/users/
/moddle/data/news/
/moddle/logs/
/moddle/cache/*/
/moddle/update/patch/
/moddle/update/dl_versions.json
/moddle/update/*.zip

/mupdate/nbproject/private/
/mupdate/build/
/mupdate/dist/
/mupdate/store/
/mupdate/versions.json
/mupdate/*.zip