@import url(//fonts.googleapis.com/css?family=Exo+2);
@import url(//fonts.googleapis.com/css?family=Ubuntu:500);

/* Text related styles */
body
{
background-color: #B9B9B9;
}

h1
{
text-align: left;
color: #000000;
font-family: 'Ubuntu', sans-serif;
margin-top: 100px;
margin-bottom: 5px;
margin-left: 100px;
font-size: 70px;
letter-spacing: -4px;
font-weight: 500;
}

p
{
text-align: left;
margin-bottom: 5px;
margin-left: 100px;
margin-right: 100px;
font-size: 20px;
font-family: 'Exo 2', sans-serif;
}


/* The logo */
#titleimage
{
margin-top: 100px;
margin-bottom: 5px;
margin-left: 100px;
}


/* The background images */
#main
{
background-image: url('../images/mainbg.svg');
background-repeat: no-repeat;
}

#download
{
background-image: url('../images/downloadbg.svg');
background-repeat: no-repeat;
}


/* Ths styles for the download button */
.wrapper
{
margin-top: 15px;
text-align: left;
margin-left: 100px;
}

.button 
{
position: absolute;
top: 50%;
}
